In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("1989.csv")

In [3]:
df.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39
4,51.55,VIJAYARAMARAJU SATRUCHARLA,PARVATHIPURAM (ST),1,INC,M,ANDHRA PRADESH,284228,589546,551416,809362,72.84

In [4]:
df2 = pd.read_csv("2014.csv")

In [5]:
df2.head()

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,31.079319,40.818072,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,18.723247,24.590206,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,13.287196,17.450759,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,6.811024,8.945269,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,2.959860,3.887336,1386282

In [6]:
df["CANDIDATE"][0:5]

0           VISWANATHAM KANITHI
1        APPAYYADORA HANUMANTHU
2         BAMMIDI NARAYANASWAMY
3                 SURYANARAYANA
4    VIJAYARAMARAJU SATRUCHARLA
Name: CANDIDATE, dtype: object

In [7]:
df["SEX"].unique()

array(['M', 'F', nan], dtype=object)

In [8]:
df["SEX"].value_counts()

M    5694
F     190
Name: SEX, dtype: int64

In [9]:
df.count()

%                        6160
CANDIDATE                6160
CONSTITUENCY             6160
No.                      6160
PARTY                    6160
SEX                      5884
TERRITORY                6160
VOTES                    6160
TOTAL VOTES POLLED       6160
TOTAL VALID VOTES        6160
TOTAL ELECTORS           6160
TOTAL POLL PERCENTAGE    6160
dtype: int64

In [10]:
df.groupby("SEX").size()

SEX
F     190
M    5694
dtype: int64

In [11]:
df2["SEX"].value_counts()

M    7209
F     630
O       6
Name: SEX, dtype: int64

In [12]:
df2.count()

TERRITORY                8355
CONSTITUENCY             8355
CANDIDATE                8355
SEX                      7845
AGE                      7845
CATEGORY                 7845
PARTY                    8355
PARTY SYMBOL             8355
GENERAL VOTES SECURED    8355
POSTAL VOTES SECURED     8355
TOTAL VOTES SECURED      8355
% OF TOTAL VOTES         8355
% OF TOTAL POLLED        8355
TOTAL ELECTORS           8355
dtype: int64

In [13]:
df2["SEX"].unique()

array(['M', nan, 'F', 'O'], dtype=object)

In [14]:
df2.loc[df2["SEX"]=='O']

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
2490,Karnataka,Chitradurga,T.BHAVANA,O,34.0,SC,IND,Gas Cylinder,3601,0,3601,0.216761,0.328060,1661277
3578,Maharashtra,Nagpur,SENAPATI UTTAM SAPAN,O,32.0,GEN,IND,Television,2017,0,2017,0.106114,0.185769,1900784
5684,Tamil Nadu,Madurai,BHARATHI KANNAMMA,O,53.0,GEN,IND,Black Board,1222,4,1226,0.085054,0.125566,1441434
6514,Uttar Pradesh,Amethi,SONAM KINNAR,O,35.0,GEN,IND,Sewing Machine,1252,0,1252,0.074977,0.143107,1669843
6987,Uttar Pradesh,Deoria,BARKHA KINNAR,O,38.0,GEN,IND,Dolli,4123,1,4124,0.228233,0.424210,1806926
7196,Uttar Pradesh,Varanasi,BASEER KINNAR,O,50.0,GEN,IND,Harmonium,2850,0,2850,0.161337,0.276481,1766487

In [15]:
temp = _

In [16]:
temp

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
2490,Karnataka,Chitradurga,T.BHAVANA,O,34.0,SC,IND,Gas Cylinder,3601,0,3601,0.216761,0.328060,1661277
3578,Maharashtra,Nagpur,SENAPATI UTTAM SAPAN,O,32.0,GEN,IND,Television,2017,0,2017,0.106114,0.185769,1900784
5684,Tamil Nadu,Madurai,BHARATHI KANNAMMA,O,53.0,GEN,IND,Black Board,1222,4,1226,0.085054,0.125566,1441434
6514,Uttar Pradesh,Amethi,SONAM KINNAR,O,35.0,GEN,IND,Sewing Machine,1252,0,1252,0.074977,0.143107,1669843
6987,Uttar Pradesh,Deoria,BARKHA KINNAR,O,38.0,GEN,IND,Dolli,4123,1,4124,0.228233,0.424210,1806926
7196,Uttar Pradesh,Varanasi,BASEER KINNAR,O,50.0,GEN,IND,Harmonium,2850,0,2850,0.161337,0.276481,1766487

In [17]:
temp.index

Int64Index([2490, 3578, 5684, 6514, 6987, 7196], dtype='int64')

In [18]:
temp.index[0]

2490

In [19]:
temp["SEX"][temp.index[0]]

'O'

In [20]:
tmp2 = df2.loc[df2["SEX"].isnull()]

In [21]:
tmp2

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
8,Andhra Pradesh,Adilabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,17021,63,17084,1.232361,1.618523,1386282
26,Andhra Pradesh,Peddapalle,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5344,17,5361,0.376117,0.522934,1425355
44,Andhra Pradesh,Karimnagar,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5722,12,5734,0.369742,0.508688,1550810
61,Andhra Pradesh,Nizamabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7244,22,7266,0.485633,0.702701,1496193
72,Andhra Pradesh,Zahirabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,11157,33,11190,0.774205,1.017503,1445354
86,Andhra Pradesh,Medak,None of the Above,NaN,NaN,NaN,NOTA,NOTA,10687,9,10696,0.696279,0.896158,1536166
117,Andhra Pradesh,Malkajgiri,None of the Above,NaN,NaN,NaN,NOTA,NOTA,8666,26,8692,0.273069,0.534947,3183083
148,Andhra Pradesh,Secundrabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6567,5,6572,0.347038,0.654088,1893741
165,Andhra Pradesh,Hyderabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5011,2,5013,0.274954,0.515864,1823217
181,Andhra Pradesh,CHELVELLA,None of the Above,NaN,NaN,NaN,NOTA,NOTA,9989,29,10018,0.458455,0.757629,2185164
191,Andhra Pradesh,Mahbubnagar,None of the Above,NaN,NaN,NaN,NOTA,NOTA,9016,21,9037,0.637006,0.889907,1418668
198,Andhra Pradesh,Nagarkurnool,None of the Above,NaN,NaN,NaN,NOTA,NOTA,12329,59,12388,0.838554,1.109936,1477305
208,Andhra Pradesh,Nalgonda,None of the Above,NaN,NaN,NaN,NOTA,NOTA,9284,21,9305,0.622682,0.780853,1494343
222,Andhra Pradesh,Bhongir,None of the Above,NaN,NaN,NaN,NOTA,NOTA,10869,38,10907,0.730915,0.899398,1492240
235,Andhra Pradesh,Warangal,None of the Above,NaN,NaN,NaN,NOTA,NOTA,14007,27,14034,0.912616,1.192732,1537778
253,Andhra Pradesh,Mahabubabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6695,9,6704,0.483245,0.595060,1387288
281,Andhra Pradesh,Khammam,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4978,13,4991,0.346533,0.419813,1440267
293,Andhra Pradesh,Aruku,None of the Above,NaN,NaN,NaN,NOTA,NOTA,16496,36,16532,1.299338,1.809145,1272340
304,Andhra Pradesh,Srikakulam,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6100,38,6138,0.434172,0.582021,1413726
314,Andhra Pradesh,Vizianagaram,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6506,22,6528,0.465045,0.579961,1403736
337,Andhra Pradesh,Visakhapatnam,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7312,17,7329,0.425360,0.629875,1723011
346,Andhra Pradesh,Anakapalli,None of the Above,NaN,NaN,NaN,NOTA,NOTA,8559,45,8604,0.613925,0.748642,1401474
369,Andhra Pradesh,Kakinada,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4158,200,4358,0.307271,0.395632,1418290
384,Andhra Pradesh,Amalapuram,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5992,149,6141,0.452254,0.547406,1357865
399,Andhra Pradesh,Rajahmundry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7361,95,7456,0.524599,0.644687,1421276
414,Andhra Pradesh,Narsapuram,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7900,104,8004,0.604063,0.734988,1325028
430,Andhra Pradesh,Eluru,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7479,65,7544,0.528379,0.627010,1427764
442,Andhra Pradesh,Machilipatnam,None of the Above,NaN,NaN,NaN,NOTA,NOTA,8003,168,8171,0.596723,0.714948,1369311
465,Andhra Pradesh,Vijayawada,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5165,129,5294,0.338380,0.441588,1564513
478,Andhra Pradesh,Guntur,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7530,66,7596,0.483201,0.609284,1572017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7819,Jharkhand,Godda,None of the Above,NaN,NaN,NaN,NOTA,NOTA,12409,1,12410,0.780125,1.182309,1590772
7840,Jharkhand,Chatra,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5791,0,5791,0.441198,0.812225,1312562
7861,Jharkhand,Kodarma,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6712,0,6712,0.409357,0.654868,1639645
7879,Jharkhand,Giridih,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4879,0,4879,0.322761,0.502346,1511644
7911,Jharkhand,Dhanbad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7675,0,7675,0.406080,0.670924,1890021
7940,Jharkhand,Ranchi,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6900,0,6900,0.418573,0.657276,1648459
7956,Jharkhand,Jamshedpur,None of the Above,NaN,NaN,NaN,NOTA,NOTA,15629,0,15629,0.988136,1.489662,1581665
7969,Jharkhand,Singhbhum,None of the Above,NaN,NaN,NaN,NOTA,NOTA,27037,0,27037,2.345675,3.399375,1152632
7984,Jharkhand,Khunti,None of the Above,NaN,NaN,NaN,NOTA,NOTA,23816,0,23816,2.142004,3.228802,1111856
7994,Jharkhand,Lohardaga,None of the Above,NaN,NaN,NaN,NOTA,NOTA,16764,0,16764,1.497931,2.572590,1119144
8008,Jharkhand,Palamau,None of the Above,NaN,NaN,NaN,NOTA,NOTA,18283,4,18287,1.111025,1.869540,1645957
8029,Jharkhand,Hazaribagh,None of the Above,NaN,NaN,NaN,NOTA,NOTA,6827,0,6827,0.449463,0.705744,1518923
8046,Uttarakhand,Tehri Garhwal,None of the Above,NaN,NaN,NaN,NOTA,NOTA,10729,33,10762,0.795645,1.385228,1352614
8057,Uttarakhand,Garhwal,None of the Above,NaN,NaN,NaN,NOTA,NOTA,8652,7,8659,0.683308,1.265923,1267218
8067,Uttarakhand,Almora,None of the Above,NaN,NaN,NaN,NOTA,NOTA,15242,3,15245,1.216155,2.320639,1253541
8083,Uttarakhand,Nainital-udhamsingh Nagar,None of the Above,NaN,NaN,NaN,NOTA,NOTA,10305,23,10328,0.641168,0.937281,1610811
8108,Uttarakhand,Hardwar,None of the Above,NaN,NaN,NaN,NOTA,NOTA,3030,19,3049,0.185590,0.259332,1642873
8124,Andaman & Nicobar Islands,Andaman & Nicobar Islands,None of the Above,NaN,NaN,NaN,NOTA,NOTA,1563,1,1564,0.580636,0.821666,269360
8142,Chandigarh,CHANDIGARH,None of the Above,NaN,NaN,NaN,NOTA,NOTA,3105,1,3106,0.504872,0.684954,615214
8154,Dadra & Nagar Haveli,Dadar & Nagar Haveli,None of the Above,NaN,NaN,NaN,NOTA,NOTA,2962,0,2962,1.506635,1.791633,196597
8159,Daman & Diu,Daman & diu,None of the Above,NaN,NaN,NaN,NOTA,NOTA,1316,0,1316,1.176912,1.508603,111827
8185,NCT OF Delhi,CHANDNI CHOWK,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4522,12,4534,0.313289,0.461587,1447230
8209,NCT OF Delhi,NORTH EAST DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,3812,12,3824,0.195331,0.290145,1957708
8233,NCT OF Delhi,EAST DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4973,2,4975,0.271922,0.415717,1829578
8263,NCT OF Delhi,NEW DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5583,6,5589,0.375064,0.576089,1490147
8278,NCT OF Delhi,NORTH WEST DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,8815,11,8826,0.402216,0.650696,2194343
8296,NCT OF Delhi,WEST DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7924,8,7932,0.388936,0.588106,2039410
8316,NCT OF Delhi,SOUTH DELHI,None of the Above,NaN,NaN,NaN,NOTA,NOTA,4005,5,4010,0.228784,0.363605,1752748
8323,Lakshadweep,Lakshadweep,None of the Above,NaN,NaN,NaN,NOTA,NOTA,123,0,123,0.246384,0.284446,49922
8354,Puducherry,Puducherry,None of the Above,NaN,NaN,NaN,NOTA,NOTA,22267,1,22268,2.470675,3.008978,901357

In [22]:
tmp2.shape

(510, 14)

In [23]:
tmp3 = df2.loc[(df2["SEX"].isnull()) & (df2["PARTY"]=="NOTA")]

In [24]:
tmp3.head()

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
8,Andhra Pradesh,Adilabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,17021,63,17084,1.232361,1.618523,1386282
26,Andhra Pradesh,Peddapalle,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5344,17,5361,0.376117,0.522934,1425355
44,Andhra Pradesh,Karimnagar,None of the Above,NaN,NaN,NaN,NOTA,NOTA,5722,12,5734,0.369742,0.508688,1550810
61,Andhra Pradesh,Nizamabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,7244,22,7266,0.485633,0.702701,1496193
72,Andhra Pradesh,Zahirabad,None of the Above,NaN,NaN,NaN,NOTA,NOTA,11157,33,11190,0.774205,1.017503,1445354

In [25]:
tmp3.shape

(510, 14)

In [26]:
df.loc[df["PARTY"]=="NOTA"]

Empty DataFrame
Columns: [%, CANDIDATE, CONSTITUENCY, No., PARTY, SEX, TERRITORY, VOTES, TOTAL VOTES POLLED, TOTAL VALID VOTES, TOTAL ELECTORS, TOTAL POLL PERCENTAGE]
Index: []

In [27]:
df.loc[df["SEX"].isnull()]

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
29,0.34,ALLA ARUN KUMAR M JNP,RAJAHMUNDRY,3,(JP),NaN,ANDHRA PRADESH,2459,737739,720327,972851,75.83
41,0.31,GADIRAJU VENKATA SURYANARAYANA RAJU M JNP,NARASAPUR,5,(JP),NaN,ANDHRA PRADESH,2087,682390,664308,931902,73.23
74,0.25,VUYYURU BRAMAREDDY M JNP,GUNTUR,3,(JP),NaN,ANDHRA PRADESH,1872,765766,749809,1114045,68.74
126,0.65,NAGARAJU KONDURU M JNP,RAJAMPET,4,(JP),NaN,ANDHRA PRADESH,4248,678195,656285,945601,71.72
147,0.41,SEELLA SANJEEVAREDDY M JNP,NANDYAL,4,(JP),NaN,ANDHRA PRADESH,2850,711179,690103,1001172,71.03
157,0.99,MALLU MASI REDDY M JNP,MAHABUBNAGAR,6,(JP),NaN,ANDHRA PRADESH,6408,689986,645770,1038379,66.45
207,0.69,K.RAMA GOUD M JNP,MEDAK,6,(JP),NaN,ANDHRA PRADESH,4838,736786,704875,1057204,69.69
230,1.59,VEMPAT MADHUSUDHAN M JNP,KARIMNAGAR,6,(JP),NaN,ANDHRA PRADESH,10032,669734,632285,1075755,62.26
232,0.74,ANJANEYULU DEVERAJU M LKD,KARIMNAGAR,8,(B),NaN,ANDHRA PRADESH,4660,669734,632285,1075755,62.26
276,1.03,MANSAROVER RAM M LKD,BAGAHA (SC),4,(B),NaN,BIHAR,4037,395345,390367,871641,45.36
286,0.24,SHIVAJI ARYA M LKD,BETTIAH,9,(B),NaN,BIHAR,1239,519407,510547,911262,57.00
296,0.53,VIJAY K. SINHA M JNP,MOTIHARI,5,(JP),NaN,BIHAR,2895,551310,543412,936758,58.85
297,0.23,KESHAV KUMAR JHA M LKD,MOTIHARI,6,(B),NaN,BIHAR,1252,551310,543412,936758,58.85
308,0.13,SHIVRAJ PRASSAD M LKD,GOPALGANJ,9,(B),NaN,BIHAR,870,688818,681677,944046,72.96
332,4.37,RAMDEO SINGH M LKD,MAHARAJGANJ,3,(B),NaN,BIHAR,25605,591913,586049,1024013,57.80
345,29.41,TAJIV RANJAN SINGH M JNP,CHAPRA,2,(JP),NaN,BIHAR,192015,659029,652929,1010173,65.24
347,0.44,RAMENDRA PRASSAD M LKD,CHAPRA,4,(B),NaN,BIHAR,2876,659029,652929,1010173,65.24
364,0.31,NAGINA RAM M LKD,HAJIPUR (SC),3,(B),NaN,BIHAR,2238,736399,731592,977499,75.34
392,0.59,RAM KARAN SAHANI M LKD,MUZAFFARPUR,3,(B),NaN,BIHAR,4198,726622,715437,981763,74.01
412,6.81,INDAL SINGH NAVIN M LKD,SITAMARHI,4,(B),NaN,BIHAR,44063,654778,647197,1011260,64.75
422,0.25,RAJNANDAN SAH M LKD,SHEOHAR,5,(B),NaN,BIHAR,1533,633746,625670,962568,65.84
443,0.72,RADHAKANT PHADARI M LKD,JHANJHARPUR,3,(B),NaN,BIHAR,3843,539539,532066,958736,56.28
448,0.17,ACHARYA MUNIS M JNP,JHANJHARPUR,8,(JP),NaN,BIHAR,881,539539,532066,958736,56.28
459,0.55,JAWAHAR YADAV M JNP,DARBHANGA,3,(JP),NaN,BIHAR,3576,657262,648822,921749,71.31
467,0.07,DARWARI LAL KEWAT M LKD,DARBHANGA,11,(B),NaN,BIHAR,441,657262,648822,921749,71.31
484,0.49,SIHESWAR MANJHI M LKD,ROSERA (SC),6,(B),NaN,BIHAR,3054,626036,619742,964871,64.88
492,1.28,SHIVA SHANKAR SAHNI M LKD,SAMASTIPUR,3,(B),NaN,BIHAR,8894,704303,694963,1075195,65.50
516,0.21,BRINDRA PASWAN M JNP,BARH,4,(JP),NaN,BIHAR,1433,709052,696236,1031955,68.71
534,0.02,RAVINDRA NATH SINGH M LKD,BARH,22,(B),NaN,BIHAR,163,709052,696236,1031955,68.71
539,1.55,MADHU SUDAN PASWAN M LKD,BALIA,3,(B),NaN,BIHAR,7934,524873,511934,906074,57.93
...,...,...,...,...,...,...,...,...,...,...,...,...
5272,1.80,OM SHANKER KASHYAP M JNP,KANNAUJ,5,(JP),NaN,UTTAR PRADESH,9496,543259,526755,942420,57.65
5281,3.54,ASWANI KUMAR M JNP,FARRUKHABAD,4,(JP),NaN,UTTAR PRADESH,18124,531687,511314,954177,55.72
5294,3.20,GIRJA SHANKER M JNP,MAINPURI,4,(JP),NaN,UTTAR PRADESH,14348,460814,447712,850967,54.15
5300,9.30,BHARAT SINGH BAGHAL M JNP,JALESAR,3,(JP),NaN,UTTAR PRADESH,37235,416356,400582,870530,47.83
5314,1.12,MAHENDRA PAL SINGH M JNP,ETAH,7,(JP),NaN,UTTAR PRADESH,4887,453519,437251,839232,54.04
5357,0.14,DURESH BHAGEL M LKD,AGRA,21,(B),NaN,UTTAR PRADESH,513,380736,367601,887625,42.89
5396,0.72,TALEWAR M JNP,ALIGARH,7,(JP),NaN,UTTAR PRADESH,3284,469410,453459,928632,50.55
5398,0.52,RAM NARESH SINGH M LKD,ALIGARH,9,(B),NaN,UTTAR PRADESH,2371,469410,453459,928632,50.55
5410,0.57,RAGHU RAJ M LKD,KHURJA (SC),7,(B),NaN,UTTAR PRADESH,2442,440063,428730,961812,45.75
5420,1.20,BIRBLE SINGH M JNP,BULANDSHAHR,6,(JP),NaN,UTTAR PRADESH,5730,495156,478797,926063,53.47
5424,0.28,BARNI A.K. M LKD,BULANDSHAHR,10,(B),NaN,UTTAR PRADESH,1335,495156,478797,926063,53.47
5468,0.15,JEET SINGH M LKD,MEERUT,11,(B),NaN,UTTAR PRADESH,822,551883,535105,970079,56.89
5479,0.14,GANGA RAM AMBEDKAR M LKD,BAGHPAT,7,(B),NaN,UTTAR PRADESH,795,578085,568877,922288,62.68
5487,3.21,SWAMI VARUN VESH M JNP,MUZAFFARNAGAR,3,(JP),NaN,UTTAR PRADESH,17886,570608,557457,920249,62.01
5507,0.30,MUSHIR AHMED M LKD,KAIRANA,8,(B),NaN,UTTAR PRADESH,1583,533764,520112,880593,60.61
5567,1.04,MAHAMUDDIN AHAMAD M JNP,RAIGANJ,5,(JP),NaN,WEST BENGAL,7775,763803,749488,994246,76.82
5849,0.37,MAHADEB DALAL M JNP,KATWA,5,(JP),NaN,WEST BENGAL,2993,811642,799537,969983,83.68
5856,0.72,MAHONMBD SADDU KAS M JNP,BOLPUR,4,(JP),NaN,WEST BENGAL,5045,711128,697633,897907,79.20
5864,1.47,MONDAL BASUDEV M JNP,BIRBHUM (SC),5,(JP),NaN,WEST BENGAL,10026,692217,679799,907420,76.28
5879,0.62,AFTAB RAI MAINI M JNP,CHANDIGARH,7,(JP),NaN,CHANDIGARH,1336,219697,216903,334522,65.67
5887,0.06,GURBACHAN SINGH ANAND M LKD,CHANDIGARH,15,(B),NaN,CHANDIGARH,132,219697,216903,334522,65.67
5922,0.12,KANTA LAXMI F LKD,NEW DELHI,13,(B),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,279,236126,232744,429535,54.97
5941,0.11,PIARE MIAN M LKD,SOUTH DELHI,14,(B),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,510,482858,476096,849216,56.86
5970,0.64,JAGDISH LOHIA M JNP,OUTER DELHI,4,(JP),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,4982,790764,776544,1574973,50.21
5977,0.14,SUSHIL M LKD,OUTER DELHI,11,(B),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,1096,790764,776544,1574973,50.21
6037,0.16,SANWAL DASS M LKD,EAST DELHI,21,(B),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,1144,734802,722183,1480564,49.63
6071,0.14,RAJENDRA SWARUP SHARMA M JNP,CHANDNI CHOWK,8,(JP),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,354,253560,250313,381491,66.47
6113,0.09,SHRI RAM M JNP,DELHI SADAR,12,(JP),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,286,309267,304234,506017,61.12
6116,0.05,SATPRAKASH GUPTA M LKD,DELHI SADAR,15,(B),NaN,NATIONAL CAPITAL TERRITORY OF DELHI,166,309267,304234,506017,61.12
6152,0.26,C. BALAMUTHUVAL M LKD,PONDICHERRY,4,(B),NaN,PONDICHERRY,965,383306,377588,574557,66.71

In [28]:
df

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39
4,51.55,VIJAYARAMARAJU SATRUCHARLA,PARVATHIPURAM (ST),1,INC,M,ANDHRA PRADESH,284228,589546,551416,809362,72.84
5,43.81,KISHORECHANDRA SURYANARAYANA DEO VYRICHERLA,PARVATHIPURAM (ST),2,ICS(SCS),M,ANDHRA PRADESH,241587,589546,551416,809362,72.84
6,3.11,NIMMAKA AYODHYA,PARVATHIPURAM (ST),3,IND,M,ANDHRA PRADESH,17122,589546,551416,809362,72.84
7,1.54,ARIKA GUMPASWAMY,PARVATHIPURAM (ST),4,IND,M,ANDHRA PRADESH,8479,589546,551416,809362,72.84
8,53.27,KOMBURI RAM MOHAN RAO,BOBBILI,1,TDP,M,ANDHRA PRADESH,325809,642044,611674,860717,74.59
9,46.73,ANAND GAJAPATHI RAJU POOSAPATI,BOBBILI,2,INC,M,ANDHRA PRADESH,285865,642044,611674,860717,74.59
10,50.31,UMA GAJAPATHI RAJU POOSAPATI,VISAKHAPATNAM,1,INC,F,ANDHRA PRADESH,352326,733318,700337,1073318,68.32
11,46.63,M.V.V.S. MURTHY,VISAKHAPATNAM,2,TDP,M,ANDHRA PRADESH,326593,733318,700337,1073318,68.32
12,1.05,GARIKINAANANDA KUMAR,VISAKHAPATNAM,3,BSP,M,ANDHRA PRADESH,7370,733318,700337,1073318,68.32
13,1.05,GOLLAKOTI VISHNUMURTHY,VISAKHAPATNAM,4,IND,M,ANDHRA PRADESH,7364,733318,700337,1073318,68.32
14,0.61,MAMIDI SOMUNAIDU,VISAKHAPATNAM,5,IND,M,ANDHRA PRADESH,4240,733318,700337,1073318,68.32
15,0.35,N.R.K. RAJU,VISAKHAPATNAM,6,IND,M,ANDHRA PRADESH,2444,733318,700337,1073318,68.32
16,48.58,KARIYEDDULA KAMALA KUMARI,BHADRACHALAM (ST),1,INC,F,ANDHRA PRADESH,270648,595519,557113,941288,63.27
17,44.28,RAMAITH SODE,BHADRACHALAM (ST),2,CPI,M,ANDHRA PRADESH,246662,595519,557113,941288,63.27
18,4.79,K.P. SANTI RAJU,BHADRACHALAM (ST),3,IND,M,ANDHRA PRADESH,26670,595519,557113,941288,63.27
19,2.36,BADAVATH NEHRU BAPUJI,BHADRACHALAM (ST),4,IND,M,ANDHRA PRADESH,13133,595519,557113,941288,63.27
20,47.21,KONATHALA RAMAKRISHNA,ANAKAPALLI,1,INC,M,ANDHRA PRADESH,299109,659253,633597,893262,73.80
21,47.21,APPALANARASIMHAM,ANAKAPALLI,2,TDP,M,ANDHRA PRADESH,299100,659253,633597,893262,73.80
22,5.59,VEESAM SANYASINAIDU,ANAKAPALLI,3,IND,M,ANDHRA PRADESH,35388,659253,633597,893262,73.80
23,54.45,MALLIPUDI MANGAPATHI PALLAMRAJU,KAKINADA,1,INC,M,ANDHRA PRADESH,383681,724677,704654,979213,74.01
24,42.67,THOTA GOPALA KRISHNA,KAKINADA,2,TDP,M,ANDHRA PRADESH,300698,724677,704654,979213,74.01
25,1.67,THOTA RAKANJA NEYULU,KAKINADA,3,IND,M,ANDHRA PRADESH,11739,724677,704654,979213,74.01
26,1.21,SUNDARAIAH,KAKINADA,4,BSP,M,ANDHRA PRADESH,8536,724677,704654,979213,74.01
27,53.63,JAMUNA,RAJAHMUNDRY,1,INC,F,ANDHRA PRADESH,386314,737739,720327,972851,75.83
28,45.53,CHUNDRU SRIHARI,RAJAHMUNDRY,2,TDP,M,ANDHRA PRADESH,327992,737739,720327,972851,75.83
29,0.34,ALLA ARUN KUMAR M JNP,RAJAHMUNDRY,3,(JP),NaN,ANDHRA PRADESH,2459,737739,720327,972851,75.83
...,...,...,...,...,...,...,...,...,...,...,...,...
6130,0.03,GOKUL CHAND,DELHI SADAR,29,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,102,309267,304234,506017,61.12
6131,0.03,SUSHIL KUMAR GARG,DELHI SADAR,30,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,89,309267,304234,506017,61.12
6132,49.74,KALKA DASS,KAROL BAGH (SC),1,BJP,M,NATIONAL CAPITAL TERRITORY OF DELHI,141859,289278,285202,481032,60.14
6133,47.30,DHARAM DASS SHASTRI,KAROL BAGH (SC),2,INC,M,NATIONAL CAPITAL TERRITORY OF DELHI,134890,289278,285202,481032,60.14
6134,1.12,GANGA RAM NIRWAN (PAHADIA),KAROL BAGH (SC),3,BSP,M,NATIONAL CAPITAL TERRITORY OF DELHI,3200,289278,285202,481032,60.14
6135,0.65,SAT PAL,KAROL BAGH (SC),4,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,1856,289278,285202,481032,60.14
6136,0.35,K.R.SUNDA,KAROL BAGH (SC),5,SHP,M,NATIONAL CAPITAL TERRITORY OF DELHI,1009,289278,285202,481032,60.14
6137,0.27,TAMAI PRASAD,KAROL BAGH (SC),6,DDP,M,NATIONAL CAPITAL TERRITORY OF DELHI,777,289278,285202,481032,60.14
6138,0.12,HARISH PRAKASH SETH,KAROL BAGH (SC),7,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,332,289278,285202,481032,60.14
6139,0.09,KARAN SINGH DEWAN,KAROL BAGH (SC),8,RPI,M,NATIONAL CAPITAL TERRITORY OF DELHI,256,289278,285202,481032,60.14
6140,0.09,SUNDER LAL,KAROL BAGH (SC),9,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,248,289278,285202,481032,60.14
6141,0.08,RAI SAHAB SONI,KAROL BAGH (SC),10,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,235,289278,285202,481032,60.14
6142,0.05,BABU LAL TORI,KAROL BAGH (SC),11,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,156,289278,285202,481032,60.14
6143,0.04,HEM RAJ,KAROL BAGH (SC),12,LMS,M,NATIONAL CAPITAL TERRITORY OF DELHI,128,289278,285202,481032,60.14
6144,0.04,LEKH RAM SARSONIA,KAROL BAGH (SC),13,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,121,289278,285202,481032,60.14
6145,0.03,ASHOK KUMAR BACHAWANDIA,KAROL BAGH (SC),14,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,76,289278,285202,481032,60.14
6146,0.02,RAGHUBIR SINGH AZAD,KAROL BAGH (SC),15,IND,M,NATIONAL CAPITAL TERRITORY OF DELHI,59,289278,285202,481032,60.14
6147,52.27,P. M. SAYEED,LAKSHADWEEP (ST),1,INC,M,LAKSHADWEEP,13323,25555,25490,30069,84.99
6148,47.73,MOHAMMED KOYA KUNNAMKULAM,LAKSHADWEEP (ST),2,IND,M,LAKSHADWEEP,12167,25555,25490,30069,84.99
6149,50.47,P. SHANMUGAM,PONDICHERRY,1,INC,M,PONDICHERRY,190562,383306,377588,574557,66.71
6150,41.65,N. MANIMARAN,PONDICHERRY,2,DMK,M,PONDICHERRY,157250,383306,377588,574557,66.71
6151,6.63,BAVANY MADURACAYY,PONDICHERRY,3,PMK,F,PONDICHERRY,25021,383306,377588,574557,66.71
6152,0.26,C. BALAMUTHUVAL M LKD,PONDICHERRY,4,(B),NaN,PONDICHERRY,965,383306,377588,574557,66.71
6153,0.25,P. D. PANNEER SALVAN,PONDICHERRY,5,TMM,M,PONDICHERRY,943,383306,377588,574557,66.71
6154,0.19,R. ARANGANATHAN,PONDICHERRY,6,IND,M,PONDICHERRY,723,383306,377588,574557,66.71
6155,0.14,M. KANDEEBAN,PONDICHERRY,7,IND,M,PONDICHERRY,538,383306,377588,574557,66.71
6156,0.13,G. THIRUVENGADAM,PONDICHERRY,8,IND,M,PONDICHERRY,503,383306,377588,574557,66.71
6157,0.12,M. MANIMARAN,PONDICHERRY,9,IND,M,PONDICHERRY,440,383306,377588,574557,66.71
6158,0.09,DAVULURY NAGESWARA RAO,PONDICHERRY,10,IND,M,PONDICHERRY,345,383306,377588,574557,66.71
6159,0.08,KANAKMULL JAIN,PONDICHERRY,11,IND,M,PONDICHERRY,298,383306,377588,574557,66.71

In [29]:
df3 = pd.read_csv("2004.csv")

In [30]:
tmp4 = df3.loc[df3["SEX"].isnull()]

In [31]:
tmp5 = df3.loc[(df3["SEX"].isnull()) & (df3["PARTY"]=="NOTA")]

In [32]:
tmp4.shape

(0, 19)

In [33]:
tmp5.shape

(0, 19)

In [34]:
df3.shape

(5435, 19)

In [35]:
df2.shape

(8355, 14)

In [36]:
df3.head()

,AGE,CANDIDATES,CATEGORY,CONSTITUENCY,GENERAL VOTES POLLED,No,PARTY,POSTAL VOTES POLLED,SEX,TERRITORY,TOTAL VOTES POLLED,TOTAL GENERAL VOTES POLLED,TOTAL POSTAL VOTES POLLED,TOTAL ELECTORS,TOTAL MEN ELECTORS,TOTAL WOMEN ELECTORS,% OF TOTAL VOTES,TOTAL VOTES RECEIVED,% OF TOTAL POLLED
0,47,YERRANNAIDU KINJARAPU,GEN,SRIKAKULAM,361586,1,TDP,320,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,37.752575,361906,50.002625
1,39,KILLI KRUPARANI,GEN,SRIKAKULAM,329432,2,INC,595,F,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,34.427086,330027,45.598073
2,49,DUNGA RANGARAO NAIDU,GEN,SRIKAKULAM,13848,5,IND,0,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,1.444568,13848,1.913304
3,37,MYLAPALLI LAKSHMUDU,GEN,SRIKAKULAM,13008,3,BSP,3,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,1.357255,13011,1.797661
4,37,TAMMINENI JAGANMOHAN RAO,GEN,SRIKAKULAM,4982,4,IND,0,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,0.519702,4982,0.688336

In [46]:
df[1:2]

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39

In [38]:
df2[0:1]

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,31.079319,40.818072,1386282

In [39]:
df3[0:1]

,AGE,CANDIDATES,CATEGORY,CONSTITUENCY,GENERAL VOTES POLLED,No,PARTY,POSTAL VOTES POLLED,SEX,TERRITORY,TOTAL VOTES POLLED,TOTAL GENERAL VOTES POLLED,TOTAL POSTAL VOTES POLLED,TOTAL ELECTORS,TOTAL MEN ELECTORS,TOTAL WOMEN ELECTORS,% OF TOTAL VOTES,TOTAL VOTES RECEIVED,% OF TOTAL POLLED
0,47,YERRANNAIDU KINJARAPU,GEN,SRIKAKULAM,361586,1,TDP,320,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,37.752575,361906,50.002625

In [40]:
df3["SEX"].unique()

array(['M', 'F'], dtype=object)

In [41]:
df3["SEX"].value_counts()

M    5080
F     355
Name: SEX, dtype: int64

In [42]:
df["CANDIDATE"][0].lower()

'viswanatham kanithi'

In [45]:
type(df.loc[1])

pandas.core.series.Series

In [47]:
class candidate:
    
    name = ''
    votes = 0
    perc = 0
    
    def create(self,n,v,p):
        
        self.name = n
        self.votes = v
        self.perc = p

class const:
    state = ''
    c_name = ''
    year = ''
    c_list = []
   
    
    def __init__(self,s,c,yr):
        
        self.c_name = c
        self.state = s
        self.year = yr
    
    def add_rec(self,name,votes,perc):
        
        c = candidate()
        c.create(name,votes,perc)
        c_list.append(c)

In [48]:
p = ['M']*98 + ['F']*2

In [50]:
import random

In [51]:
random.shuffle(p)

In [55]:
s = df["SEX"].value_counts()

In [56]:
total = 0 
for i in s.keys():
    total += s[i]

In [57]:
total

5884

In [58]:
d = {}

In [67]:
from math import floor,ceil
for i in s.keys():
    d[i] = int(round(s[i]*100/total))

In [68]:
d

{'M': 97, 'F': 3}

In [71]:
p = []

In [72]:
for i in d.keys():
    p += [i]*d[i]

In [74]:
random.shuffle(p)

In [75]:
temp = df.loc[df["SEX"].isnull()]

In [76]:
temp.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
29,0.34,ALLA ARUN KUMAR M JNP,RAJAHMUNDRY,3,(JP),NaN,ANDHRA PRADESH,2459,737739,720327,972851,75.83
41,0.31,GADIRAJU VENKATA SURYANARAYANA RAJU M JNP,NARASAPUR,5,(JP),NaN,ANDHRA PRADESH,2087,682390,664308,931902,73.23
74,0.25,VUYYURU BRAMAREDDY M JNP,GUNTUR,3,(JP),NaN,ANDHRA PRADESH,1872,765766,749809,1114045,68.74
126,0.65,NAGARAJU KONDURU M JNP,RAJAMPET,4,(JP),NaN,ANDHRA PRADESH,4248,678195,656285,945601,71.72
147,0.41,SEELLA SANJEEVAREDDY M JNP,NANDYAL,4,(JP),NaN,ANDHRA PRADESH,2850,711179,690103,1001172,71.03

In [81]:
index = list(temp.index)
len(index)

0

In [79]:
for i in index:
    num = random.randint(0,99)
    sex = p[num]
    df["SEX"][i] = sex

/home/akash/.local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [80]:
temp = df.loc[df["SEX"].isnull()]

In [82]:
temp.head()

Empty DataFrame
Columns: [%, CANDIDATE, CONSTITUENCY, No., PARTY, SEX, TERRITORY, VOTES, TOTAL VOTES POLLED, TOTAL VALID VOTES, TOTAL ELECTORS, TOTAL POLL PERCENTAGE]
Index: []

In [83]:
df["SEX"].unique()

array(['M', 'F'], dtype=object)

In [85]:
df.shape[0]

6160

In [86]:
df["SEX"].value_counts()

M    5962
F     198
Name: SEX, dtype: int64