In [18]:
import pandas as pd

In [19]:
df_1989 = pd.read_csv("1989.csv")

In [20]:
df_1991 = pd.read_csv("1991.csv")

In [21]:
df_1996 = pd.read_csv("1996.csv")

In [22]:
df_1998 = pd.read_csv("1998.csv")

In [23]:
df_1999 = pd.read_csv("1999.csv")

In [24]:
df_2004 = pd.read_csv("2004.csv")

In [25]:
df_2009 = pd.read_csv("2009.csv")

In [26]:
df_2014 = pd.read_csv("2014.csv")

In [27]:
df_1989.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39
4,51.55,VIJAYARAMARAJU SATRUCHARLA,PARVATHIPURAM (ST),1,INC,M,ANDHRA PRADESH,284228,589546,551416,809362,72.84

In [28]:
df_1991.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,42.60,VISWANDHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,235641,568263,553129,860855,66.01
1,37.78,APPAYYADORA HANUMANTHLI,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,208977,568263,553129,860855,66.01
2,15.06,KINJARAPU YERRANNAIDU,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,83292,568263,553129,860855,66.01
3,1.96,ATTADA APPALANAIDU,SRIKAKULAM,4,BJP,M,ANDHRA PRADESH,10823,568263,553129,860855,66.01
4,1.05,ATLA APPOJAMMA (W),SRIKAKULAM,5,IND,F,ANDHRA PRADESH,5794,568263,553129,860855,66.01

In [29]:
df_1996.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,36.82,KINJARAPU YERRANNAIDU,SRIKAKULAM,1,TDP,M,ANDHRA PRADESH,234278,647219,636346,983329,65.82
1,31.38,JAYA KRISHNA MANDAMURI,SRIKAKULAM,2,NTRTDP(LP),M,ANDHRA PRADESH,199700,647219,636346,983329,65.82
2,29.63,KANITHI VISWANADHAM,SRIKAKULAM,3,INC,M,ANDHRA PRADESH,188559,647219,636346,983329,65.82
3,0.99,KRISHNA CHANDRA RAO NAMBALLA,SRIKAKULAM,4,BJP,M,ANDHRA PRADESH,6328,647219,636346,983329,65.82
4,0.23,KOTA SREENIVASA RAO,SRIKAKULAM,5,IND,M,ANDHRA PRADESH,1490,647219,636346,983329,65.82

In [30]:
df_1998.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,43.14,KINJARAPU YERRANNAIDU,SRIKAKULAM,1,TDP,M,ANDHRA PRADESH,286582,673199,664353,979623,68.72
1,30.14,APPAYYA DORA HANUMANTHU,SRIKAKULAM,2,NTRTDP(LP),M,ANDHRA PRADESH,200217,673199,664353,979623,68.72
2,26.46,DHARMANA PRASADA RAO,SRIKAKULAM,3,INC,M,ANDHRA PRADESH,175762,673199,664353,979623,68.72
3,0.27,TAMMINENI JAGANMOHANARAO,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,1792,673199,664353,979623,68.72
4,50.55,VIJAYA RAMARAJU SETRUCHARLA,PARVATHIPURAM (ST),1,TDP,M,ANDHRA PRADESH,299904,604975,593286,911746,66.35

In [31]:
df_1999.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,56.81,YERRANNAIDU KINJARAPU,SRIKAKULAM,1,TDP,M,ANDHRA PRADESH,373851,676413,658100,985232,68.66
1,42.09,KANITHI VISWANADAHAM,SRIKAKULAM,2,INC,M,ANDHRA PRADESH,276969,676413,658100,985232,68.66
2,1.11,APPALA NAIDU GOLIVE,SRIKAKULAM,3,AJBP,M,ANDHRA PRADESH,7280,676413,658100,985232,68.66
3,49.54,DADICHILUKA VEERA GOURI SANKARA RAO,PARVATHIPURAM (ST),1,TDP,M,ANDHRA PRADESH,304000,637051,613641,911609,69.88
4,47.38,KISHORE CHANDRA SURYANARAYANA DEO VYRICHERLA,PARVATHIPURAM (ST),2,INC,M,ANDHRA PRADESH,290719,637051,613641,911609,69.88

In [33]:
361906*100/723774

50.00262512883856

# weed is a chemical

In [34]:
df_2009.head()

,% OF TOTAL VOTES,% VOTES POLLED,AGE,CANDIDATE,CATEGORY,GENERAL VOTES,PARTY,POSTAL VOTES,SEX,SL NO,TOTAL VOTES,CONSTITUENCY,STATE,TOTAL ELECTORS,TOTAL GENERAL VOTES POLLED,TOTAL VOTES POLLED,TOTAL POSTAL VOTES POLLED
0,5.12,6.71,55,ADE TUKARAM,ST,57856,BJP,75,M,1,57931,Adilabad,Andhra Pradesh,1131211,863330,863581,251
1,22.74,29.78,39,KOTNAK RAMESH,ST,257137,INC,44,M,2,257181,Adilabad,Andhra Pradesh,1131211,863330,863581,251
2,32.91,43.11,43,RATHOD RAMESH,ST,372154,TDP,114,M,3,372268,Adilabad,Andhra Pradesh,1131211,863330,863581,251
3,1.46,1.91,50,RATHOD SADASHIV NAIK,ST,16471,BSP,0,M,4,16471,Adilabad,Andhra Pradesh,1131211,863330,863581,251
4,9.98,13.08,59,MESRAM NAGO RAO,ST,112914,PRAP,16,M,5,112930,Adilabad,Andhra Pradesh,1131211,863330,863581,251

In [35]:
max(df_2009["% VOTES POLLED"])

78.8

In [36]:
df_2014.head()

,TERRITORY,CONSTITUENCY,CANDIDATE,SEX,AGE,CATEGORY,PARTY,PARTY SYMBOL,GENERAL VOTES SECURED,POSTAL VOTES SECURED,TOTAL VOTES SECURED,% OF TOTAL VOTES,% OF TOTAL POLLED,TOTAL ELECTORS
0,Andhra Pradesh,Adilabad,GODAM NAGESH,M,49.0,ST,TRS,Car,425762,5085,430847,31.079319,40.818072,1386282
1,Andhra Pradesh,Adilabad,NARESH,M,37.0,ST,INC,Hand,257994,1563,259557,18.723247,24.590206,1386282
2,Andhra Pradesh,Adilabad,RAMESH RATHOD,M,48.0,ST,TDP,Bicycle,182879,1319,184198,13.287196,17.450759,1386282
3,Andhra Pradesh,Adilabad,RATHOD SADASHIV,M,55.0,ST,BSP,Elephant,94363,57,94420,6.811024,8.945269,1386282
4,Andhra Pradesh,Adilabad,NETHAWATH RAMDAS,M,44.0,ST,IND,Auto- Rickshaw,41028,4,41032,2.959860,3.887336,1386282

In [37]:
from random import randint,shuffle

In [38]:
def clean(df,sex):

    s = df[sex].value_counts()
    
    total = 0
    for i in s.keys():
        total += s[i]
    
    d = {}
    for i in s.keys():
        d[i] = int(round(s[i]*100/total))
    
    p = []
    for i in d.keys():
        p += [i]*d[i]
    shuffle(p)
    
    temp = df.loc[df[sex].isnull()]
    index = list(temp.index)
    
    for i in index:
        num = randint(0,99)
        df[sex][i] = p[num]

In [39]:
df_1989["SEX"].unique()

array(['M', 'F'], dtype=object)

In [40]:
df_1989["SEX"].value_counts()

M    5965
F     195
Name: SEX, dtype: int64

In [41]:
sex = "SEX"

In [42]:
#clean(df_1989,sex)

In [43]:
df_1989["SEX"].unique()

array(['M', 'F'], dtype=object)

In [44]:
df_1991[sex].unique()

array(['M', 'F'], dtype=object)

In [45]:
df_1996[sex].unique()

array(['M', 'F'], dtype=object)

In [46]:
df_1998[sex].unique()

array(['M', 'F'], dtype=object)

In [47]:
df_1999[sex].unique()

array(['M', 'F'], dtype=object)

In [48]:
df_2004[sex].unique()

array(['M', 'F'], dtype=object)

In [49]:
df_2009[sex].unique()

array(['M', 'F'], dtype=object)

In [50]:
df_2014[sex].unique()

array(['M', nan, 'F', 'O'], dtype=object)

In [51]:
df_1989.to_csv("1989.csv",index=False)

In [52]:
df_1989 = pd.read_csv("1989.csv")

In [53]:
df_1989.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39
4,51.55,VIJAYARAMARAJU SATRUCHARLA,PARVATHIPURAM (ST),1,INC,M,ANDHRA PRADESH,284228,589546,551416,809362,72.84

In [54]:
#df_1989["TERRITORY"]
#df_1989["CONSTITUENCY"]
temp = df_1989[0:5]

In [55]:
temp.index[0]

0

In [56]:
temp["TOTAL VOTES POLLED"][temp.index[0]]

632341

In [57]:
temp["TOTAL VALID VOTES"]

0    604275
1    604275
2    604275
3    604275
4    551416
Name: TOTAL VALID VOTES, dtype: int64

In [58]:
df_1989["TERRITORY"].unique()  #31

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'BIHAR', 'GOA', 'GUJARAT',
       'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR', 'KARNATAKA',
       'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA',
       'MIZORAM', 'NAGALAND', 'ORISSA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'WEST BENGAL',
       'ANDAMAN & NICOBAR ISLANDS', 'CHANDIGARH', 'DADRA & NAGAR HAVELI',
       'DAMAN & DIU', 'NATIONAL CAPITAL TERRITORY OF DELHI',
       'LAKSHADWEEP', 'PONDICHERRY'], dtype=object)

In [59]:
df_1991["TERRITORY"].unique() #30

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'GOA',
       'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ORISSA', 'RAJASTHAN', 'SIKKIM', 'TAMIL NADU',
       'TRIPURA', 'UTTAR PRADESH', 'WEST BENGAL',
       'ANDAMAN & NICOBAR ISLANDS', 'CHANDIGARH', 'DADRA & NAGAR HAVELI',
       'DAMAN & DIU', 'NATIONAL CAPITAL TERRITORY OF DELHI',
       'LAKSHADWEEP', 'PONDICHERRY'], dtype=object)

In [60]:
df_1996["TERRITORY"].unique() #32

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'GOA',
       'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR',
       'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR',
       'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ORISSA', 'PUNJAB',
       'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH',
       'WEST BENGAL', 'ANDAMAN & NICOBAR ISLANDS', 'CHANDIGARH',
       'DADRA & NAGAR HAVELI', 'DAMAN & DIU',
       'NATIONAL CAPITAL TERRITORY OF DELHI', 'LAKSHADWEEP',
       'PONDICHERRY'], dtype=object)

In [61]:
df_1998["TERRITORY"].unique() == df_1996["TERRITORY"].unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [62]:
len(df_1999["TERRITORY"].unique())

32

In [63]:
df_2004["TERRITORY"].unique() #35

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'GOA',
       'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU & KASHMIR',
       'KARNATAKA', 'KERALA', 'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR',
       'MEGHALAYA', 'MIZORAM', 'NAGALAND', 'ORISSA', 'PUNJAB',
       'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH',
       'WEST BENGAL', 'CHHATTISGARH', 'JHARKHAND', 'UTTARANCHAL',
       'ANDAMAN & NICOBAR ISLANDS', 'CHANDIGARH', 'DADRA & NAGAR HAVELI',
       'DAMAN & DIU', 'NATIONAL CAPITAL TERRITORY OF DELHI',
       'LAKSHADWEEP', 'PONDICHERRY'], dtype=object)

In [64]:
df_2009["STATE"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'West Bengal', 'Chattisgarh', 'Jharkhand', 'Uttarakhand',
       'Andaman & Nicobar Islands', 'Chandigarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'NCT OF Delhi', 'Lakshadweep', 'Puducherry'],
      dtype=object)

In [65]:
df_2014["TERRITORY"].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'West Bengal',
       'Jharkhand', 'Uttarakhand', 'Andaman & Nicobar Islands',
       'Chandigarh', 'Dadra & Nagar Haveli', 'Daman & Diu',
       'NCT OF Delhi', 'Lakshadweep', 'Puducherry'], dtype=object)

In [66]:
class fem:
    
    d = {}
    
    def __init__(self,s,c,df):
        
        d['state'] = s
        d['constituency'] = c
        #temp = df.loc[(df["TERRITORY"] == s) & (df["CONSTITUENCY"] == c)]

In [67]:
states = list(df_1989["TERRITORY"].unique())

In [68]:
states

['ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'BIHAR',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'JAMMU & KASHMIR',
 'KARNATAKA',
 'KERALA',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'ORISSA',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'WEST BENGAL',
 'ANDAMAN & NICOBAR ISLANDS',
 'CHANDIGARH',
 'DADRA & NAGAR HAVELI',
 'DAMAN & DIU',
 'NATIONAL CAPITAL TERRITORY OF DELHI',
 'LAKSHADWEEP',
 'PONDICHERRY']

In [69]:
state = states[0]

In [70]:
state

'ANDHRA PRADESH'

In [71]:
t1 = df_1989.loc[df_1989["TERRITORY"] == state]

In [72]:
t1

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39
4,51.55,VIJAYARAMARAJU SATRUCHARLA,PARVATHIPURAM (ST),1,INC,M,ANDHRA PRADESH,284228,589546,551416,809362,72.84
5,43.81,KISHORECHANDRA SURYANARAYANA DEO VYRICHERLA,PARVATHIPURAM (ST),2,ICS(SCS),M,ANDHRA PRADESH,241587,589546,551416,809362,72.84
6,3.11,NIMMAKA AYODHYA,PARVATHIPURAM (ST),3,IND,M,ANDHRA PRADESH,17122,589546,551416,809362,72.84
7,1.54,ARIKA GUMPASWAMY,PARVATHIPURAM (ST),4,IND,M,ANDHRA PRADESH,8479,589546,551416,809362,72.84
8,53.27,KOMBURI RAM MOHAN RAO,BOBBILI,1,TDP,M,ANDHRA PRADESH,325809,642044,611674,860717,74.59
9,46.73,ANAND GAJAPATHI RAJU POOSAPATI,BOBBILI,2,INC,M,ANDHRA PRADESH,285865,642044,611674,860717,74.59
10,50.31,UMA GAJAPATHI RAJU POOSAPATI,VISAKHAPATNAM,1,INC,F,ANDHRA PRADESH,352326,733318,700337,1073318,68.32
11,46.63,M.V.V.S. MURTHY,VISAKHAPATNAM,2,TDP,M,ANDHRA PRADESH,326593,733318,700337,1073318,68.32
12,1.05,GARIKINAANANDA KUMAR,VISAKHAPATNAM,3,BSP,M,ANDHRA PRADESH,7370,733318,700337,1073318,68.32
13,1.05,GOLLAKOTI VISHNUMURTHY,VISAKHAPATNAM,4,IND,M,ANDHRA PRADESH,7364,733318,700337,1073318,68.32
14,0.61,MAMIDI SOMUNAIDU,VISAKHAPATNAM,5,IND,M,ANDHRA PRADESH,4240,733318,700337,1073318,68.32
15,0.35,N.R.K. RAJU,VISAKHAPATNAM,6,IND,M,ANDHRA PRADESH,2444,733318,700337,1073318,68.32
16,48.58,KARIYEDDULA KAMALA KUMARI,BHADRACHALAM (ST),1,INC,F,ANDHRA PRADESH,270648,595519,557113,941288,63.27
17,44.28,RAMAITH SODE,BHADRACHALAM (ST),2,CPI,M,ANDHRA PRADESH,246662,595519,557113,941288,63.27
18,4.79,K.P. SANTI RAJU,BHADRACHALAM (ST),3,IND,M,ANDHRA PRADESH,26670,595519,557113,941288,63.27
19,2.36,BADAVATH NEHRU BAPUJI,BHADRACHALAM (ST),4,IND,M,ANDHRA PRADESH,13133,595519,557113,941288,63.27
20,47.21,KONATHALA RAMAKRISHNA,ANAKAPALLI,1,INC,M,ANDHRA PRADESH,299109,659253,633597,893262,73.80
21,47.21,APPALANARASIMHAM,ANAKAPALLI,2,TDP,M,ANDHRA PRADESH,299100,659253,633597,893262,73.80
22,5.59,VEESAM SANYASINAIDU,ANAKAPALLI,3,IND,M,ANDHRA PRADESH,35388,659253,633597,893262,73.80
23,54.45,MALLIPUDI MANGAPATHI PALLAMRAJU,KAKINADA,1,INC,M,ANDHRA PRADESH,383681,724677,704654,979213,74.01
24,42.67,THOTA GOPALA KRISHNA,KAKINADA,2,TDP,M,ANDHRA PRADESH,300698,724677,704654,979213,74.01
25,1.67,THOTA RAKANJA NEYULU,KAKINADA,3,IND,M,ANDHRA PRADESH,11739,724677,704654,979213,74.01
26,1.21,SUNDARAIAH,KAKINADA,4,BSP,M,ANDHRA PRADESH,8536,724677,704654,979213,74.01
27,53.63,JAMUNA,RAJAHMUNDRY,1,INC,F,ANDHRA PRADESH,386314,737739,720327,972851,75.83
28,45.53,CHUNDRU SRIHARI,RAJAHMUNDRY,2,TDP,M,ANDHRA PRADESH,327992,737739,720327,972851,75.83
29,0.34,ALLA ARUN KUMAR M JNP,RAJAHMUNDRY,3,(JP),M,ANDHRA PRADESH,2459,737739,720327,972851,75.83
...,...,...,...,...,...,...,...,...,...,...,...,...
237,50.66,KAMALUDDIN AHMED,HANAMKONDA,1,INC,M,ANDHRA PRADESH,310079,646420,612076,959004,67.41
238,40.31,JANGA REDDY CHANDUPTLA,HANAMKONDA,2,BJP,M,ANDHRA PRADESH,246736,646420,612076,959004,67.41
239,4.41,UPENDER REDDY VALLAPU,HANAMKONDA,3,MCPI,M,ANDHRA PRADESH,26964,646420,612076,959004,67.41
240,2.46,PRABHAKAR RAO INDURTHY,HANAMKONDA,4,IND,M,ANDHRA PRADESH,15037,646420,612076,959004,67.41
241,0.98,JANGIDI RAMULU,HANAMKONDA,5,IND,M,ANDHRA PRADESH,6007,646420,612076,959004,67.41
242,0.85,RAMALINGAM BASANI,HANAMKONDA,6,IND,M,ANDHRA PRADESH,5206,646420,612076,959004,67.41
243,0.33,C.R.REDDY,HANAMKONDA,7,IND,M,ANDHRA PRADESH,2047,646420,612076,959004,67.41
244,45.81,SURENDER REDDY RAMASAHAYAM,WARANGAL,1,INC,M,ANDHRA PRADESH,311810,714262,680618,946078,75.50
245,37.86,KALPANA DEVI TOURTREDDY,WARANGAL,2,TDP,F,ANDHRA PRADESH,257689,714262,680618,946078,75.50
246,10.56,RAJANNA SOMA,WARANGAL,3,MCPI,M,ANDHRA PRADESH,71861,714262,680618,946078,75.50
247,3.08,RAMULU BURRA,WARANGAL,4,IND,M,ANDHRA PRADESH,20975,714262,680618,946078,75.50
248,1.44,NALLANI SWAMI RAO,WARANGAL,5,IND,M,ANDHRA PRADESH,9786,714262,680618,946078,75.50
249,1.25,GOGU NARSALAH,WARANGAL,6,IND,M,ANDHRA PRADESH,8497,714262,680618,946078,75.50
250,49.68,JALAGAM VENGAL RAO,KHAMMAM,1,INC,M,ANDHRA PRADESH,388461,813657,781933,1038053,78.38
251,42.10,RADHAKRISHNA MURTHY YELAMANCHILI,KHAMMAM,2,CPM,M,ANDHRA PRADESH,329209,813657,781933,1038053,78.38
252,6.38,GADDAM VENKATRAMALAH,KHAMMAM,3,IND,M,ANDHRA PRADESH,49862,813657,781933,1038053,78.38
253,0.96,PADIGA YERRAIAH,KHAMMAM,4,IND,M,ANDHRA PRADESH,7493,813657,781933,1038053,78.38
254,0.88,GANDHURI LALAIAH,KHAMMAM,5,IND,M,ANDHRA PRADESH,6908,813657,781933,1038053,78.38
255,47.99,CHALILAM SRINIVASA RAO,NALGONDA,1,INC,M,ANDHRA PRADESH,357733,784463,745471,1144127,68.56
256,42.37,RAMA SHARMA BODDUPALLY,NALGONDA,2,CPI,M,ANDHRA PRADESH,315883,784463,745471,1144127,68.56
257,5.44,KHAJA PASHA,NALGONDA,3,MIM,M,ANDHRA PRADESH,40574,784463,745471,1144127,68.56
258,2.37,KONGARI LAXMINARAYANA,NALGONDA,4,BSP,M,ANDHRA PRADESH,17642,784463,745471,1144127,68.56
259,1.10,NARSIMHA REDDY,NALGONDA,5,IND,M,ANDHRA PRADESH,8165,784463,745471,1144127,68.56
260,0.46,ANJAIAH MITTAPALLY,NALGONDA,6,IND,M,ANDHRA PRADESH,3418,784463,745471,1144127,68.56
261,0.28,RAVU VENKATA NARSIMHA RAO,NALGONDA,7,IND,M,ANDHRA PRADESH,2056,784463,745471,1144127,68.56
262,50.37,B.N.REDDY,MIRYALGUDA,1,INC,M,ANDHRA PRADESH,396615,816183,787440,1091124,74.80
263,45.92,NARSIMHA REDDY BHEEMIREDDY,MIRYALGUDA,2,CPM,M,ANDHRA PRADESH,361620,816183,787440,1091124,74.80
264,1.58,BANTU SWAMY MUDIRAJ,MIRYALGUDA,3,BSP,M,ANDHRA PRADESH,12404,816183,787440,1091124,74.80
265,1.10,SARASANI JAN REDDY,MIRYALGUDA,4,IND,M,ANDHRA PRADESH,8663,816183,787440,1091124,74.80
266,1.03,MARRI NEHEMYA,MIRYALGUDA,5,IND,M,ANDHRA PRADESH,8138,816183,787440,1091124,74.80

In [73]:
288263*100/604275

47.70394274130156

In [74]:
df_temp = pd.DataFrame(columns = ['year','won','contested','total_participation','perc'])

In [75]:
df_temp

Empty DataFrame
Columns: [year, won, contested, total_participation, perc]
Index: []

In [76]:
const = list(t1["CONSTITUENCY"].unique())

In [77]:
const

['SRIKAKULAM',
 'PARVATHIPURAM (ST)',
 'BOBBILI',
 'VISAKHAPATNAM',
 'BHADRACHALAM (ST)',
 'ANAKAPALLI',
 'KAKINADA',
 'RAJAHMUNDRY',
 'AMALAPURAM (SC)',
 'NARASAPUR',
 'ELURU',
 'MACHILIPATNAM',
 'VIJAYAWADA',
 'TENALI',
 'GUNTUR',
 'BAPATLA',
 'NARASARAOPET',
 'ONGOLE',
 'NELLORE (SC)',
 'TIRUPATHI (SC)',
 'CHITTOOR',
 'RAJAMPET',
 'CUDDAPAH',
 'HINDUPUR',
 'ANANTAPUR',
 'KURNOOL',
 'NANDYAL',
 'NAGARKURNOOL (SC)',
 'MAHABUBNAGAR',
 'HYDERABAD',
 'SECUNDERABAD',
 'SIDDIPET (SC)',
 'MEDAK',
 'NIZAMABAD',
 'ADILABAD',
 'PEDDAPALLI (SC)',
 'KARIMNAGAR',
 'HANAMKONDA',
 'WARANGAL',
 'KHAMMAM',
 'NALGONDA',
 'MIRYALGUDA']

In [78]:
won = 0
contested = 0
tp = 0
votes = 0
tv = 0

In [79]:
c1 = const[0]

In [80]:
c1

'SRIKAKULAM'

In [81]:
tc = t1.loc[t1["CONSTITUENCY"] == c1]

In [82]:
tc

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
0,47.70,VISWANATHAM KANITHI,SRIKAKULAM,1,INC,M,ANDHRA PRADESH,288263,632341,604275,861650,73.39
1,39.41,APPAYYADORA HANUMANTHU,SRIKAKULAM,2,TDP,M,ANDHRA PRADESH,238149,632341,604275,861650,73.39
2,10.81,BAMMIDI NARAYANASWAMY,SRIKAKULAM,3,IND,M,ANDHRA PRADESH,65317,632341,604275,861650,73.39
3,2.08,SURYANARAYANA,SRIKAKULAM,4,IND,M,ANDHRA PRADESH,12546,632341,604275,861650,73.39

In [83]:
ti = list(tc.index)

In [84]:
tc["TOTAL VALID VOTES"][ti[0]]

604275

In [85]:
f = df_1989.loc[df_1989["SEX"] == 'F']

In [86]:
f.shape

(195, 12)

In [87]:
t_viz = df_1989.loc[df_1989["CONSTITUENCY"] == "VISAKHAPATNAM"]

In [88]:
t_viz.head()

,%,CANDIDATE,CONSTITUENCY,No.,PARTY,SEX,TERRITORY,VOTES,TOTAL VOTES POLLED,TOTAL VALID VOTES,TOTAL ELECTORS,TOTAL POLL PERCENTAGE
10,50.31,UMA GAJAPATHI RAJU POOSAPATI,VISAKHAPATNAM,1,INC,F,ANDHRA PRADESH,352326,733318,700337,1073318,68.32
11,46.63,M.V.V.S. MURTHY,VISAKHAPATNAM,2,TDP,M,ANDHRA PRADESH,326593,733318,700337,1073318,68.32
12,1.05,GARIKINAANANDA KUMAR,VISAKHAPATNAM,3,BSP,M,ANDHRA PRADESH,7370,733318,700337,1073318,68.32
13,1.05,GOLLAKOTI VISHNUMURTHY,VISAKHAPATNAM,4,IND,M,ANDHRA PRADESH,7364,733318,700337,1073318,68.32
14,0.61,MAMIDI SOMUNAIDU,VISAKHAPATNAM,5,IND,M,ANDHRA PRADESH,4240,733318,700337,1073318,68.32

In [89]:
tf = t_viz.loc[t_viz["SEX"] == 'F']

In [90]:
tf["No."][10]

1

# what's up danger

In [93]:
tf["VOTES"][10]

352326

In [94]:
round(8/3,2)

2.67

In [95]:
temp = pd.DataFrame(data = [[1989,6,17,20,10.5]] ,columns = ['year','won','contested','total_participation','perc'])

In [96]:
temp

   year  won  contested  total_participation  perc
0  1989    6         17                   20  10.5

In [97]:
tc.size

48

In [98]:
tc.shape

(4, 12)

In [196]:
def f1(state,year,df):
    
    t1 = df.loc[df["TERRITORY"] == state]
    const = list(t1["CONSTITUENCY"].unique())
    
    won = 0
    tv = 0
    tvw = 0
    total_c = 0
    tp = 0
    
    for i in const:
        
        tc = df.loc[df["CONSTITUENCY"] == i]
        ti = list(tc.index)
        tv += tc["TOTAL VALID VOTES"][ti[0]]
        tf = tc.loc[tc["SEX"] == 'F']
        
        if tf.shape[0] !=0:
            total_c += 1

        for j in list(tf.index):
            
            if tf["No."][j] == 1:
                won+=1
            
            tvw += tf["VOTES"][j]
            tp += 1
    
    if(tv == 0):
        perc = 0
    else:
        perc = round(tvw/tv,2)
    temp = pd.DataFrame(data = [[year,won,total_c,tp,perc]] ,columns = ['year','won','contested','total_participation','% of votes'])
    return temp

In [197]:
df_2004.head()

,AGE,CANDIDATES,CATEGORY,CONSTITUENCY,GENERAL VOTES POLLED,No,PARTY,POSTAL VOTES POLLED,SEX,TERRITORY,TOTAL VOTES POLLED,TOTAL GENERAL VOTES POLLED,TOTAL POSTAL VOTES POLLED,TOTAL ELECTORS,TOTAL MEN ELECTORS,TOTAL WOMEN ELECTORS,% OF TOTAL VOTES,TOTAL VOTES RECEIVED,% OF TOTAL POLLED
0,47,YERRANNAIDU KINJARAPU,GEN,SRIKAKULAM,361586,1,TDP,320,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,37.752575,361906,50.002625
1,39,KILLI KRUPARANI,GEN,SRIKAKULAM,329432,2,INC,595,F,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,34.427086,330027,45.598073
2,49,DUNGA RANGARAO NAIDU,GEN,SRIKAKULAM,13848,5,IND,0,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,1.444568,13848,1.913304
3,37,MYLAPALLI LAKSHMUDU,GEN,SRIKAKULAM,13008,3,BSP,3,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,1.357255,13011,1.797661
4,37,TAMMINENI JAGANMOHAN RAO,GEN,SRIKAKULAM,4982,4,IND,0,M,ANDHRA PRADESH,723774,722856,918,958626,456636,501990,0.519702,4982,0.688336

In [198]:
df_2004["TOTAL VOTES RECEIVED"][0]*100/df_2004["TOTAL VOTES POLLED"][0]

50.00262512883856

In [199]:
df_2004["SEX"][1] =='F'

True

In [200]:
df_2004["No"][0]

1

In [201]:
def f2(state,year,df):
    
    t1 = df.loc[df["TERRITORY"] == state]
    const = list(t1["CONSTITUENCY"].unique())
    
    won = 0
    tv = 0
    tvw = 0
    total_c = 0
    tp = 0
    
    for i in const:
        
        tc = df.loc[df["CONSTITUENCY"] == i]
        ti = list(tc.index)
        tv += tc["TOTAL VOTES POLLED"][ti[0]]
        tf = tc.loc[tc["SEX"] == 'F']
        
        
        if tf.shape[0] !=0:
            total_c += 1

        for j in list(tf.index):
            
            if tf["No"][j] == 1:
                won+=1
            
            tvw += tf["TOTAL VOTES RECEIVED"][j]
            tp += 1
    
    if(tv == 0):
        perc = 0
    else:
        perc = round(tvw/tv,2)
    temp = pd.DataFrame(data = [[year,won,total_c,tp,perc]] ,columns = ['year','won','contested','total_participation','% of votes'])
    return temp

In [205]:
def func(state):
    
    temp = pd.DataFrame(columns = ['year','won','contested','total_participation','% of votes'])
    
    t1 = f1(state,1989,df_1989)
    t2 = f1(state,1991,df_1991)
    t3 = f1(state,1996,df_1996)
    t4 = f1(state,1998,df_1998)
    t5 = f1(state,1999,df_1999)
    t6 = f2(state,2004,df_2004)
    
    temp = temp.append(t1)
    temp = temp.append(t2)
    temp = temp.append(t3)
    temp = temp.append(t4)
    temp = temp.append(t5)
    temp = temp.append(t6)
    
    print("ANALYSIS FOR",state,'\n')
    print(temp.to_string(index=False))

In [206]:
func(states[0])

ANALYSIS FOR ANDHRA PRADESH

 year won contested total_participation  % of votes
 1989   5         7                   7        0.08
 1991   2        20                  26        0.08
 1996   3        24                  90        0.08
 1998   2        14                  18        0.06
 1999   8        12                  36        0.19
 2004   5        17                  21        0.10

In [207]:
for i in states:
    func(i)

ANALYSIS FOR ANDHRA PRADESH

 year won contested total_participation  % of votes
 1989   5         7                   7        0.08
 1991   2        20                  26        0.08
 1996   3        24                  90        0.08
 1998   2        14                  18        0.06
 1999   8        12                  36        0.19
 2004   5        17                  21        0.10
ANALYSIS FOR ARUNACHAL PRADESH

 year won contested total_participation  % of votes
 1989   0         0                   0         0.0
 1991   0         0                   0         0.0
 1996   0         0                   0         0.0
 1998   0         0                   0         0.0
 1999   0         0                   0         0.0
 2004   0         0                   0         0.0
ANALYSIS FOR BIHAR

 year won contested total_participation  % of votes
 1989   2        16                  19        0.07
 1991   3        23                  36        0.07
 1996   3        30                  42        0.06
 1998   4        20                  22        0.08
 1999  10        18                  44        0.17
 2004   1        10                  15        0.06
ANALYSIS FOR GOA

 year won contested total_participation  % of votes
 1989   0         0                   0        0.00
 1991   0         1                   2        0.00
 1996   0         0                   0        0.00
 1998   0         1                   1        0.00
 1999   0         1                   2        0.01
 2004   0         1                   1        0.01
ANALYSIS FOR GUJARAT

 year won contested total_participation  % of votes
 1989   0         6                   9        0.06
 1991   2        15                  17        0.06
 1996   2        12                  18        0.05
 1998   4         6                   7        0.08
 1999   6         7                  16        0.20
 2004   3         9                  11        0.09
ANALYSIS FOR HARYANA

 year won contested total_participation  % of votes
 1989   0         2                   3        0.04
 1991   1         5                   6        0.05
 1996   1         8                   9        0.07
 1998   1         5                   6        0.07
 1999   4         3                   6        0.25
 2004   0         6                   8        0.10
ANALYSIS FOR HIMACHAL PRADESH

 year won contested total_participation  % of votes
 1989   0         1                   1        0.09
 1991   0         2                   2        0.09
 1996   0         2                   2        0.00
 1998   0         1                   1        0.07
 1999   0         2                   4        0.00
 2004   1         2                   2        0.15
ANALYSIS FOR JAMMU & KASHMIR

 year won contested total_participation  % of votes
 1989   0         1                   1        0.00
 1991   0         0                   0        0.00
 1996   0         5                   8        0.03
 1998   0         2                   2        0.01
 1999   0         3                  12        0.03
 2004   0         3                   4        0.03
ANALYSIS FOR KARNATAKA

 year won contested total_participation  % of votes
 1989   1         9                  12        0.03
 1991   3        12                  15        0.06
 1996   1        10                  71        0.04
 1998   0         7                  10        0.04
 1999   4         9                  22        0.16
 2004   2        10                  10        0.06
ANALYSIS FOR KERALA

 year won contested total_participation  % of votes
 1989   1         7                   8        0.09
 1991   2         9                  10        0.10
 1996   0         9                  10        0.05
 1998   1         7                  10        0.10
 1999   2        11                  26        0.12
 2004   2        10                  15        0.11
ANALYSIS FOR MADHYA PRADESH

 year won contested total_participation  % of votes
 1989   3        11                  20        0.09
 1991   5        24                  39        0.09
 1996   5        37                  75        0.11
 1998   4        18                  28        0.08
 1999   6        17                  46        0.19
 2004   3        19                  30        0.11
ANALYSIS FOR MAHARASHTRA

 year won contested total_participation  % of votes
 1989   2        14                  18        0.06
 1991   3        24                  34        0.06
 1996   2        27                  43        0.05
 1998   2        18                  21        0.05
 1999  10        14                  38        0.12
 2004   6        21                  29        0.08
ANALYSIS FOR MANIPUR

 year won contested total_participation  % of votes
 1989   0         1                   1        0.01
 1991   0         0                   0        0.00
 1996   0         2                   3        0.23
 1998   1         1                   1        0.13
 1999   0         2                   4        0.08
 2004   1         1                   1        0.07
ANALYSIS FOR MEGHALAYA

 year won contested total_participation  % of votes
 1989   0         0                   0        0.00
 1991   0         0                   0        0.00
 1996   0         1                   1        0.05
 1998   0         2                   2        0.09
 1999   0         0                   0        0.00
 2004   0         0                   0        0.00
ANALYSIS FOR MIZORAM

 year won contested total_participation  % of votes
 1989   0         0                   0         0.0
 1991   0         0                   0         0.0
 1996   0         0                   0         0.0
 1998   0         0                   0         0.0
 1999   0         0                   0         0.0
 2004   0         0                   0         0.0
ANALYSIS FOR NAGALAND

 year won contested total_participation  % of votes
 1989   0         0                   0         0.0
 1991   0         0                   0         0.0
 1996   0         0                   0         0.0
 1998   0         0                   0         0.0
 1999   0         0                   0         0.0
 2004   0         0                   0         0.0
ANALYSIS FOR ORISSA

 year won contested total_participation  % of votes
 1989   0         4                   4        0.03
 1991   0         6                   6        0.02
 1996   2         7                   8        0.06
 1998   2         8                  10        0.08
 1999   4         8                  16        0.21
 2004   2         6                   9        0.10
ANALYSIS FOR PUNJAB

 year won contested total_participation  % of votes
 1989   3         8                  11        0.13
 1991   0         0                   0        0.00
 1996   1         9                  17        0.10
 1998   1         7                   9        0.08
 1999   4         9                  28        0.37
 2004   2         6                  10        0.19
ANALYSIS FOR RAJASTHAN

 year won contested total_participation  % of votes
 1989   1         4                   5        0.06
 1991   4        10                  14        0.08
 1996   4        16                  25        0.07
 1998   3        15                  20        0.10
 1999   6        11                  30        0.23
 2004   2        11                  17        0.09
ANALYSIS FOR SIKKIM

 year won contested total_participation  % of votes
 1989   0         1                   1        0.22
 1991   1         1                   2        0.91
 1996   0         0                   0        0.00
 1998   0         0                   0        0.00
 1999   0         0                   0        0.00
 2004   0         0                   0        0.00
ANALYSIS FOR TAMIL NADU

 year won contested total_participation  % of votes
 1989   2         7                  11        0.04
 1991   1        12                  17        0.07
 1996   0        12                  15        0.01
 1998   1        11                  13        0.03
 1999   2        13                  34        0.08
 2004   3        16                  23        0.08
ANALYSIS FOR TRIPURA

 year won contested total_participation  % of votes
 1989   0         0                   0        0.00
 1991   1         1                   2        0.39
 1996   0         1                   2        0.01
 1998   0         1                   1        0.00
 1999   0         0                   0        0.00
 2004   0         0                   0        0.00

ANALYSIS FOR UTTAR PRADESH

 year won contested total_participation  % of votes
 1989   6        31                  43        0.07
 1991   3        32                  52        0.06
 1996   9        56                 109        0.07
 1998   9        37                  58        0.08
 1999  18        41                 122        0.19
 2004   2        41                  63        0.09
ANALYSIS FOR WEST BENGAL

 year won contested total_participation  % of votes
 1989   3         9                  11        0.10
 1991   4        11                  16        0.08
 1996   4        11                  21        0.10
 1998   5        13                  21        0.13
 1999  10        15                  52        0.20
 2004   3        25                  34        0.12
ANALYSIS FOR ANDAMAN & NICOBAR ISLANDS

 year won contested total_participation  % of votes
 1989   0         1                   1        0.00
 1991   0         0                   0        0.00
 1996   0         0                   0        0.00
 1998   0         0                   0        0.00
 1999   0         1                   2        0.01
 2004   1         1                   1        0.02
ANALYSIS FOR CHANDIGARH

 year won contested total_participation  % of votes
 1989   0         0                   0        0.00
 1991   0         1                   1        0.00
 1996   0         0                   0        0.00
 1998   0         1                   2        0.00
 1999   0         1                   6        0.01
 2004   0         1                   1        0.00
ANALYSIS FOR DADRA & NAGAR HAVELI

 year won contested total_participation  % of votes
 1989   0         1                   1        0.17
 1991   0         1                   1        0.35
 1996   0         0                   0        0.00
 1998   0         0                   0        0.00
 1999   0         0                   0        0.00
 2004   0         1                   1        0.01
ANALYSIS FOR DAMAN & DIU

 year won contested total_participation  % of votes
 1989   0         1                   1        0.18
 1991   0         1                   2        0.03
 1996   0         0                   0        0.00
 1998   0         1                   1        0.00
 1999   0         0                   0        0.00
 2004   0         0                   0        0.00
ANALYSIS FOR NATIONAL CAPITAL TERRITORY OF DELHI

 year won contested total_participation  % of votes
 1989   0         6                   8        0.03
 1991   0         7                  20        0.04
 1996   2         7                  24        0.11
 1998   2         6                  10        0.24
 1999   2         3                  14        0.13
 2004   1         6                  15        0.07
ANALYSIS FOR LAKSHADWEEP

 year won contested total_participation  % of votes
 1989   0         0                   0         0.0
 1991   0         0                   0         0.0
 1996   0         0                   0         0.0
 1998   0         0                   0         0.0
 1999   0         0                   0         0.0
 2004   0         0                   0         0.0
ANALYSIS FOR PONDICHERRY

 year won contested total_participation  % of votes
 1989   0         1                   1        0.07
 1991   0         1                   1        0.03
 1996   0         1                   1        0.04
 1998   0         0                   0        0.00
 1999   0         0                   0        0.00
 2004   0         1                   1        0.36