In [60]:
import pandas as pd

In [61]:
df_1989 = pd.read_csv("1989.csv")

In [62]:
df_1991 = pd.read_csv("1991.csv")

In [63]:
df_1996 = pd.read_csv("1996.csv")

In [64]:
df_1998 = pd.read_csv("1998.csv")

In [65]:
df_1999 = pd.read_csv("1999.csv")

In [66]:
df_2004 = pd.read_csv("2004.csv")

In [67]:
df_2009 = pd.read_csv("2009.csv")

In [68]:
df_2014 = pd.read_csv("2014.csv")

In [69]:
const = list(df_2004["CONSTITUENCY"].unique())

In [70]:
class c:
    
    name = ''
    margin = 0
    
    def __init__(self,name,margin):
        self.name = name
        self.margin = margin

In [71]:
d_1989 = {}
d_1991 = {}
d_1996 = {}
d_1998 = {}
d_1999 = {}
d_2004 = {}

In [72]:
for i in const:
    
    t1 = df_1989.loc[df_1989["CONSTITUENCY"] == i]
    t2 = df_1991.loc[df_1991["CONSTITUENCY"] == i]
    t3 = df_1996.loc[df_1996["CONSTITUENCY"] == i]
    t4 = df_1998.loc[df_1998["CONSTITUENCY"] == i]
    t5 = df_1999.loc[df_1999["CONSTITUENCY"] == i]
    t6 = df_2004.loc[df_2004["CONSTITUENCY"] == i]
    
    if t1.shape[0] != 0:
        
        v1 = t1.loc[t1["No."] == 1]
        if len(list(v1.index)) !=0:
            v1 = v1["VOTES"][v1.index[0]]
        else:
            v1 = 0
        v2 = t1.loc[t1["No."] == 2]
        if len(list(v2.index)) !=0:
            v2 = v2["VOTES"][v2.index[0]]
        else:
            v2 = 0
        d_1989[i] = abs(v1-v2)
    
    if t2.shape[0] != 0:
        
        v1 = t2.loc[t2["No."] == 1]
        if len(list(v1.index)) !=0:
            v1 = v1["VOTES"][v1.index[0]]
        else:
            v1 = 0
        v2 = t2.loc[t2["No."] == 2]
        if len(list(v2.index)) !=0:
            v2 = v2["VOTES"][v2.index[0]]
        else:
            v2 = 0
        d_1991[i] = abs(v1-v2)
    
    if t3.shape[0] != 0:
        
        v1 = t3.loc[t3["No."] == 1]
        if len(list(v1.index)) !=0:
            v1 = v1["VOTES"][v1.index[0]]
        else:
            v1 = 0
        v2 = t3.loc[t3["No."] == 2]
        if len(list(v2.index)) !=0:
            v2 = v2["VOTES"][v2.index[0]]
        else:
            v2 = 0
        d_1996[i] = abs(v1-v2)
    
    if t4.shape[0] != 0:
        
        v1 = t4.loc[t4["No."] == 1]
        if len(list(v1.index)) !=0:
            v1 = v1["VOTES"][v1.index[0]]
        else:
            v1 = 0
        v2 = t4.loc[t4["No."] == 2]
        if len(list(v2.index)) !=0:
            v2 = v2["VOTES"][v2.index[0]]
        else:
            v2 = 0
        d_1998[i] = abs(v1-v2)
    
    if t5.shape[0] != 0:
        
        v1 = t5.loc[t5["No."] == 1]
        if len(list(v1.index)) !=0:
            v1 = v1["VOTES"][v1.index[0]]
        else:
            v1 = 0
        v2 = t5.loc[t5["No."] == 2]
        if len(list(v2.index)) !=0:
            v2 = v2["VOTES"][v2.index[0]]
        else:
            v2 = 0
        d_1999[i] = abs(v1-v2)
        
    if t6.shape[0] != 0:
        
        v1 = t6.loc[t6["No"] == 1]
        v1 = v1["TOTAL VOTES RECEIVED"][v1.index[0]]
        v2 = t6.loc[t6["No"] == 2]
        v2 = v2["TOTAL VOTES RECEIVED"][v2.index[0]]
        d_2004[i] = abs(v1-v2)

In [73]:
import collections

In [74]:
def sort_dic(x):
    sorted_x = sorted(x.items(), key=lambda kv: kv[1])
    sorted_dict = collections.OrderedDict(sorted_x)
    return sorted_dict

In [75]:
d_1989 = sort_dic(d_1989)

In [76]:
d_1991 = sort_dic(d_1991)

In [77]:
d_1996 = sort_dic(d_1996)

In [78]:
d_1998 = sort_dic(d_1998)

In [79]:
d_1999 = sort_dic(d_1999)

In [80]:
d_2004 = sort_dic(d_2004)

In [81]:
def print_dict(year,d):
    count = 0
    df = pd.DataFrame(columns=['constituency', 'votes'])
    print("For year",year," Min vote difference")
    for i in d.keys():
        df = df.append({"constituency" : i, "votes" : d[i]},ignore_index=True)
        count+=1
        if(count==5):
            break
    return df

In [82]:
def print_max(year,d):
    l1 = list(d.keys())
    l1 = l1[-5:][::-1]
    print("For year",year," Max vote difference")
    df = pd.DataFrame(columns=['constituency', 'votes'])
    for i in l1:
        df = df.append({"constituency" : i, "votes" : d[i]},ignore_index=True)
    return df

# For 1989

In [83]:
print_dict(1989,d_1989)

For year 1989  Min vote difference

    constituency votes
0       SRINAGAR     0
1     ANAKAPALLI     9
2      BHAVNAGAR   552
3  SALUMBER (ST)   878
4        GARHWAL  1007

In [84]:
print_max(1989,d_1989)

For year 1989  Max vote difference

   constituency   votes
0  HAJIPUR (SC)  504448
1    TARN TARAN  480417
2     BHAGALPUR  435398
3        SATARA  316991
4       SHEOHAR  314475

# For 1991

In [85]:
print_dict(1991,d_1991)

For year 1991  Min vote difference

      constituency votes
0  SUNDARGARH (ST)     0
1       TINDIVANAM     0
2       DHARMAPURI     0
3   RASIPURAM (SC)     0
4         MAINPURI     0

In [86]:
print_max(1991,d_1991)

For year 1991  Max vote difference

        constituency   votes
0       TRIPURA WEST  463912
1           CUDDAPAH  418925
2       HAJIPUR (SC)  367752
3  TRIPURA EAST (ST)  346653
4           BARAMATI  336263

# For 1996

In [87]:
print_dict(1996,d_1996)

For year 1996  Min vote difference

       constituency votes
0            BARODA    17
1       PONDICHERRY   284
2       BULSAR (ST)   368
3              KOTA   685
4  LAKSHADWEEP (ST)  1034

In [88]:
print_max(1996,d_1996)

For year 1996  Max vote difference

    constituency   votes
0   MADRAS NORTH  389617
1  JHARGRAM (ST)  347264
2   MADRAS SOUTH  339181
3         PURNEA  316155
4       PILIBHIT  283310

# For 1998

In [89]:
print_dict(1998,d_1998)

For year 1998  Min vote difference

           constituency votes
0         RAJMAHAL (ST)     9
1          MIZORAM (ST)    41
2  MUMBAI SOUTH CENTRAL   153
3           TIRUPPATTUR   274
4                ROHTAK   383

In [90]:
print_max(1998,d_1998)

For year 1998  Max vote difference

    constituency   votes
0         RAJKOT  354187
1          SURAT  304022
2       NAGALAND  291438
3  JHARGRAM (ST)  287188
4    GANDHINAGAR  276701

# For 1999

In [91]:
print_dict(1999,d_1999)

For year 1999  Min vote difference

          constituency votes
0       GHATAMPUR (SC)   105
1         TENKASI (SC)   887
2             FATEHPUR  1063
3  CHHOTA UDAIPUR (ST)  1198
4                 BARH  1335

In [92]:
print_max(1999,d_1999)

For year 1999  Max vote difference

  constituency   votes
0     NAGALAND  353598
1      BURDWAN  301683
2       AMETHI  300012
3     BARAMATI  298903
4      SONEPAT  266138

# For 2004

In [93]:
print_dict(2004,d_2004)

For year 2004  Min vote difference

                constituency votes
0                   VARANASI   414
1  ANDAMAN & NICOBAR ISLANDS  1811
2                   HINDUPUR  1840
3                     AMRELI  2030
4                   SRINAGAR  2070

In [94]:
print_max(2004,d_2004)

For year 2004  Max vote difference

   constituency   votes
0   OUTER DELHI  822048
1      ARAMBAGH  676050
2        BARMER  612215
3       DUM DUM  609443
4  MADRAS NORTH  566302